body {
  font-size: 16px;
  font-family: "Helvetica", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

.bracket-cta {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.bracket-cta:hover {
  transform: scale(1.1);
}
.bracket-cta:before {
  content: "[";
  font-size: 2rem;
  margin-right: 1rem;
}
.bracket-cta:after {
  content: "]";
  font-size: 2rem;
  margin-left: 1rem;
}

.btn {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.5rem 2rem;
  border-radius: 50px;
  border: 1px solid;
}

.btn-primary {
  color: #fff;
  background: #171717;
  border-color: #171717;
}
.btn-primary:hover {
  background: #fff;
  color: #171717;
  border-color: #171717;
}

#header {
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
}
#header.is-entry[data-is-transparent=true] {
  background: transparent;
  border: none;
}
#header.is-entry[data-is-transparent=true] .navbar .navbar-nav .nav-item .nav-link {
  color: #fff;
}
#header .logo {
  height: 45px;
  float: left;
  position: absolute;
  left: 1rem;
}
#header .logo img {
  height: 100%;
  object-fit: contain;
}
#header .navbar .navbar-nav .nav-item .nav-link {
  color: #171717;
}

#header-spacer {
  height: 58px;
}
#header-spacer.is-entry {
  height: 0;
}

#footer {
  padding: 3rem 0;
  border-top: 1px solid #ccc;
}
#footer .footer-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1.5rem;
}
#footer .footer-container .logo {
  height: 45px;
}
#footer .footer-container .logo img {
  height: 100%;
  object-fit: contain;
}
#footer .footer-container .find-us {
  display: flex;
  flex-direction: column;
}
#footer .footer-container .find-us span {
  font-size: 1rem;
  margin-bottom: 1rem;
}
#footer .footer-container .find-us .social-icons {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  padding: 0;
  list-style: none;
}
#footer .footer-container .find-us .social-icons .social a {
  width: 2rem;
  height: 2rem;
  border: 1px solid #edebeb;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer .footer-container .find-us .social-icons .social:hover i {
  color: #fff;
}
#footer .footer-container .find-us .social-icons .social i {
  font-size: 1rem;
}
#footer .footer-container .find-us .social-icons .social.facebook a:hover {
  background: #4267B2;
}
#footer .footer-container .find-us .social-icons .social.instagram a:hover {
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#f09433", endColorstr="#bc1888",GradientType=1 );
}

.store-layout {
  padding: 3rem 0;
}
.store-layout .store-products-container .store-products-list {
  display: flex;
  flex-wrap: wrap;
}

.hero-video {
  height: 100vh;
  overflow: hidden;
  max-width: 100%;
  position: relative;
}
.hero-video:before {
  content: "";
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  pointer-events: all;
}
.hero-video .frame-container {
  position: relative;
  padding-top: 25px;
  width: 300%;
  height: 100vh;
  left: -100%;
}
@media (max-width: 500 px) {
  .hero-video .frame-container {
    width: 400%;
    left: -150%;
  }
}
.hero-video .frame-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hero-video .cta {
  position: absolute;
  z-index: 3;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.gallery-images {
  margin: 5rem 0;
}
.gallery-images .gallery-slider {
  height: 30rem;
}
.gallery-images .gallery-slider .slick-list, .gallery-images .gallery-slider .slick-track {
  height: 100% !important;
}
.gallery-images .gallery-slider .slick-current {
  width: 50vw !important;
}
.gallery-images .gallery-slider .slide-wrapper {
  transition: all 1s ease;
  position: relative;
  padding-right: 0.3rem;
}
.gallery-images .gallery-slider .slide-wrapper .slide {
  overflow: hidden;
  position: relative;
  height: 100%;
}
.gallery-images .gallery-slider .slide-wrapper .slide img {
  width: 50vw;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: filter 0.5s ease;
}
.gallery-images .gallery-slider .slide-wrapper .slide img:hover {
  filter: grayscale(0%);
}

.showcased-product {
  padding: 5rem 0;
  display: flex;
}
.showcased-product .product-image {
  width: 50%;
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.showcased-product .product-image .image-wrapper {
  width: 80%;
  padding: 3px;
  background: #fff;
  position: relative;
  z-index: 2;
  box-shadow: 0 10px 20px rgba(11, 13, 44, 0.1);
}
.showcased-product .product-image .image-wrapper img {
  width: 100%;
  object-fit: contain;
}
.showcased-product .product-image .img-decoration {
  position: absolute;
  left: 0;
  top: -2.5rem;
  filter: grayscale(100%);
  max-width: 40%;
  height: 130%;
}
.showcased-product .product-content {
  flex: 1;
  padding: 3rem;
}
.showcased-product .product-content .product-name {
  color: #171717;
  margin-bottom: 1.5rem;
}
.showcased-product .product-content .product-description {
  color: #777;
  margin-bottom: 1.5rem;
}
.showcased-product .product-content .product-tools {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.showcased-product .product-content .product-tools .product-price {
  font-size: 1.5rem;
  color: #171717;
}
.showcased-product.image-right {
  flex-direction: row-reverse;
  text-align: right;
}
.showcased-product.image-right .product-image {
  justify-content: flex-start;
}
.showcased-product.image-right .product-image .img-decoration {
  left: unset;
  right: 0;
}
.showcased-product.image-right .product-content .product-tools {
  flex-direction: row-reverse;
}

.product-card {
  width: 33%;
  border-radius: 0.5rem;
  background: #fff;
  position: relative;
  z-index: 1;
  padding: 1rem;
}
.product-card:hover {
  z-index: 10;
  box-shadow: 0 10px 20px rgba(11, 13, 44, 0.1);
}
.product-card:hover .product-card__top .product-image:before {
  display: block;
}
.product-card:hover .product-card__top .product-image img {
  filter: blur(10px);
}
.product-card:hover .product-card__top .product-actions {
  display: flex;
}
.product-card .product-card__top {
  display: flex;
  flex-direction: column;
  position: relative;
}
.product-card .product-card__top .product-image {
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 1rem;
  position: relative;
}
.product-card .product-card__top .product-image:before {
  display: none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #171717;
  opacity: 0.5;
  z-index: 2;
}
.product-card .product-card__top .product-image img {
  width: 100%;
  object-fit: contain;
  position: relative;
  z-index: 1;
}
.product-card .product-card__top .product-actions {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.product-card .product-card__top .product-actions button.action {
  height: 50px;
  width: 50px;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-card .product-card__top .product-actions button.add-to-favorites:hover {
  color: #fa6b05;
  border-color: #fa6b05;
}
.product-card .product-card__top .product-actions button.add-to-cart:hover {
  color: #02f242;
  border-color: #02f242;
}
.product-card .product-card__bottom {
  display: flex;
}
.product-card .product-card__bottom .basic-info {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.product-card .product-card__bottom .basic-info .product-title {
  font-size: 1rem;
  color: #777;
}
.product-card .product-card__bottom .basic-info .product-price {
  font-size: 1.5rem;
  font-weight: 500;
  color: #171717;
}
.product-card .product-card__bottom .actions-status {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.product-card .product-card__bottom .actions-status i {
  font-size: 1.25rem;
}
.product-card .product-card__bottom .actions-status .favorites-added {
  color: #fa6b05;
}
.product-card .product-card__bottom .actions-status .cart-added {
  color: #02f242;
}

/*# sourceMappingURL=index.css.map */
