body {
    font-size: 16px;
    font-family: "Helvetica", sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

.bracket-cta {
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;;
    transition: all .3s ease;

    &:hover {
        transform: scale(1.1);
    }

    &:before {
        content: "[";
        font-size: 2rem;
        margin-right: 1rem;
    }

    &:after {
        content: "]";
        font-size: 2rem;
        margin-left: 1rem;
    }
}

.btn {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.5rem 2rem;
    border-radius: 50px;
    border: 1px solid;
}

.btn-primary {
    color: $white;
    background: $primary-color;
    border-color: $primary-color;
    &:hover {
        background: $white;
        color: $primary-color;
        border-color: $primary-color;
    }
}