$primary-color: #171717;
$white: #fff;

$green: #02f242;
$orange: #fa6b05;

$status-green: #09b823;
$status-red: #f72d44;

$gray100: #F5F6F8;
$gray200: #ebebeb;
$gray300: #d4d4d4;
$gray600: #777;

$box-shadow: 0 10px 20px rgba(11,13,44,.1);