$red-100: #FCABB4;
$red-200: #FA818F;
$red-300: #F95769;
$red-400: #F7384D;
$red-500: #f72d44;
$red-600: #DE293D;
$red-700: #C62436;
$red-800: #AD1F30;

$purple-500: #7d3c98;

$green-500: #28b463;
$green-600: #239b56;
$green-700: #1d8348; 
$green-800: #186a3b;