#header {
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    transition: all .3s ease;
}

#header-spacer {
    height: 58px;
}

#header-spacer.is-entry {
    height: 0;
}

#header.is-entry[data-is-transparent="true"] {
    background: transparent;
    border: none;
}

#header .logo {
    height: 45px;
    float: left;
    position: absolute;
    left: 1rem;
}

#header .logo img {
    height: 100%;
    object-fit: contain;
}

#header .navbar .navbar-nav .nav-item .nav-link {
    color: #171717;
}

#header.is-entry[data-is-transparent="true"] .navbar .navbar-nav .nav-item .nav-link {
    color: #fff;
}