#header {
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    background: #fff;
    display: flex;
    justify-content: center;
    border: 1px solid #ccc;
    transition: all .3s ease;
}

#header[data-is-transparent="true"] {
    background: transparent;
    border: none;
}

#header[data-is-transparent="true"] .nav-link {
    color: #fff;
}

.navbar .navbar-nav .nav-item .nav-link {
    color: #171717;
}

